* {
  margin: 0;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(64, 128, 0, 0.89);
  width: 1680px;
  height: 949px;
}

.form-field {
  display: grid;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
  border: dashed chartreuse;
  background: #738000;
  width: 700px;
  height: 700px;

}

.snake-header {
  display: flex;
  width: 700px;
  height: 100px
}

.snake-logo svg {
  width: 700px;
  height: 100px;
}

#snake-food span {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: blueviolet;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

#snake  {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  background-image: url("img/snk.png");
  background-size:cover;
  border-radius: 20px;
}